@charset "UTF-8";

body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 3, 59);
    color: white;
    height: 100vh;
    min-height: 400px;

}

h1{
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    display: block;
}


main{
    background-color: rgb(241, 241, 172);
    width: 500px;
    max-width: 83vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

main>div{
    padding: 10px;
    color: black;
    max-width: 480px;
    width: 80vw;
    margin-top: auto;
}

main>div>div>p{
    margin: 5px;
    display: block;
}

main>div>div>p>input{
    display: block;
    background-color: transparent;
    max-width: 460px;
    width: 76vw;
    padding: 2px ;
    text-align: left;
    margin-top: 0px;
}

div#seletor{
    margin: auto;
    max-width: 400px;
    width: 79vw;
    padding: 5px 0px;
    display: block;
    text-align: center;
}

div#seletor>div{
    max-width: 460px;
    width: 10vw;
    display: inline;
    padding: 5px 0px;
    white-space: nowrap;
}

input#botao{
    border: 5px outset goldenrod;
    border-radius: 5px;
    max-width: 480px;
    width: 79vw;
    height: 110px;
    background-color: goldenrod;
    box-shadow: 0px 0px 0px 2px black;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

div#res{
    padding: 0px;
}

input#botao:active{
    background-color: rgb(172, 131, 27);
    border: 5px inset goldenrod;
    color: white;
    transition: 0.5ms;
}

footer{
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
}

footer>p{
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
}

footer>p>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}